.ant-form{
    margin-top: 20%;
}
.ant-input{
    padding-left: 30px;
    width: 30%;
    margin: auto;
    display: block;
}
a, area, button, [role='button'], input:not([type='range']), label, select, summary, textarea {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    margin: auto;
    display: block;
}
.ant-form-item-control {
    position: relative;
    line-height: 40px;
    zoom: 1;
    text-align: center;
}