.ant-select{
    width: 25%;
    margin: auto;
    display: block;
    text-align: center;
}
#root > div > div.ant-page-header.ant-page-header-ghost{
    width: 100%;
    border: 0;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    margin: auto;
    display: block;
    margin-top: 2%;
    margin-bottom: 5%;
}
.ant-input-affix-wrapper .ant-input:not(:last-child) {
    text-align: center;
}
.anticon[tabindex] {
    cursor: pointer;
    color: beige;
}
.ant-input-affix-wrapper {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    -webkit-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: start;
    margin-bottom: 5%;
    margin-top: 5%;
}